@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Metshige';
		src: url('/fonts/METSN___.woff2') format('woff2');
	}

	@font-face {
		font-family: 'Playfair';
		src: url('/fonts/PlayfairDisplay-VariableFont_wght.woff2') format('woff2-variations');
		font-weight: 400 900;
		font-display: swap;
		font-style: normal;
	}

	@font-face {
		font-family: 'Playfair';
		src: url('/fonts/PlayfairDisplay-Italic-VariableFont_wght.woff2') format('woff2-variations');
		font-weight: 400 900;
		font-style: italic;
	}

	body {
		font-family: 'Playfair';
	}
}
